.avalon-area {
  --color-text--primary: black;
  --color-link--primary: black;
  --color-background--primary: #feb700;
  --color-background--primary-dark: #eaa900;
  --color-text--secondary: white;
  --color-link--secondary: #feb700;
  --color-background--secondary: #1a4e98;
  --color-background--secondary-dark: #093d8c;
}
.avalon-area [component-colors="primary"] {
  color: black;
  color: var(--color-text--primary);
  background-color: #feb700;
  background-color: var(--color-background--primary);
}
.avalon-area [component-colors="primary"] a:not([class]) {
  color: black;
  color: var(--color-link--primary);
}
.avalon-area a[component-colors="primary"]:hover {
  background-color: #eaa900;
  background-color: var(--color-background--primary-dark);
}
.avalon-area [component-colors="secondary"] {
  color: white;
  color: var(--color-text--secondary);
  background-color: #1a4e98;
  background-color: var(--color-background--secondary);
}
.avalon-area [component-colors="secondary"] a:not([class]) {
  color: #feb700;
  color: var(--color-link--secondary);
}
.avalon-area .u-text--white {
  color: white;
}
.avalon-area .u-text--black {
  color: black;
}
.avalon-area .u-text--yellow {
  color: #feb700;
}
.avalon-area .u-text--primary {
  color: #feb700;
  color: var(--color-background--primary);
}
.avalon-area .u-text--secondary {
  color: #1a4e98;
  color: var(--color-background--secondary);
}
.avalon-area .u-background--white {
  background-color: white;
}
.avalon-area .u-background--black {
  background-color: black;
}
